.player-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.player-wrapper > iframe#player {
  width: 100%;
  height: 100%;
  border: 0;
}

.watch-on-invidious {
  font-size: 1.3em !important;
  font-weight: bold;
  white-space: nowrap;
  margin: 0 1em 0 1em !important;
  order: 3;
}

.watch-on-invidious > a {
  color: white;
}

.watch-on-invidious > a:hover,
.watch-on-invidious > a:focus {
  color: rgba(0, 182, 240, 1);;
}
