<%
    # Playback is delegated entirely to YouTube's privacy-enhanced embed
    # (youtube-nocookie.com). No media bytes ever transit this server.
    player_url = Invidious::Frontend::WatchPage.embed_player_url(video, params, preferred_captions, locale)
%>
<div class="player-wrapper">
    <iframe id="player" class="on-video_player" src="<%= HTML.escape(player_url) %>" title="<%= HTML.escape(video.title) %>"
        referrerpolicy="strict-origin-when-cross-origin"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"
        allowfullscreen></iframe>
</div>

<script id="player_data" type="application/json">
<%=
{
    "origin" => Invidious::Frontend::WatchPage::EMBED_ORIGIN,
    "title" => video.title,
    "thumbnail" => thumbnail
}.to_pretty_json
%>
</script>
<script src="/js/player.js?v=<%= ASSET_COMMIT %>"></script>
